# API
ASPNETCORE_ENVIRONMENT=Development
JWT__ISSUER=http://localhost:5000
JWT__AUDIENCE=greenquarter-clients
JWT__KEY=replace-with-32-byte-secret
ADMIN__EMAIL=admin@greenquarter.test
ADMIN__PASSWORD=22332123Yaz

# Database
SQLSERVER__SA_PASSWORD=22332123Yaz
DB__CONNECTION_STRING=Server=sqlserver,1433;Database=GreenQuarter;User Id=sa;Password=ChangeMe!123;TrustServerCertificate=True;

# Frontend
VITE_API_URL=http://localhost:5000
